@model MVCLIBRARY.Models.Entity.TBL_USER
@{
    ViewBag.Title = "UserGet";
    Layout = "~/Views/Shared/layout.cshtml";
}

@using (Html.BeginForm("UserUpdate", "User", FormMethod.Post))
{
    <div style=" margin-bottom:15px"></div>
    <div class=" =" form-group>
        @Html.HiddenFor(m => m.ID)
        @*@Html.TextBoxFor(k => k.ID, new { @class = "form-control" })*@
    </div>
    <div class=" form-group">
        <label>Ad</label>
        @Html.TextBoxFor(k => k.NAME, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Soyad</label>
        @Html.TextBoxFor(k => k.SURNAME, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>TC Kimlik Numarası</label>
        @Html.TextBoxFor(k => k.USERIDENTITY, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.USERNAME, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.PASSWORD, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Fotograf linki</label>
        @Html.TextBoxFor(k => k.PHOTOGRAPH, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Okul</label>
        @Html.TextBoxFor(k => k.SCHOOL, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Telefon Numarası</label>
        @Html.TextBoxFor(k => k.TELEPHONENUM, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Mail</label>
        @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control" })
    </div>
    <div class=" form-group">
        <label>Adres</label>
        @Html.TextBoxFor(k => k.ADDRESS, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
